name: Trigger auto deployment for ai-worker-critical

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ai-worker-critical-AutoDeployTrigger-30c23f29-302c-43fa-89ed-f50d8ca825d3.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AIWORKERCRITICAL_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AIWORKERCRITICAL_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AIWORKERCRITICAL_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: .
          dockerfilePath: Dockerfile
          _targetLabelKey_: _targetLabel_
          registryUrl: tunisiaaiimages.azurecr.io
          registryUsername: ${{ secrets.AIWORKERCRITICAL_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.AIWORKERCRITICAL_REGISTRY_PASSWORD }}
          containerAppName: ai-worker-critical
          resourceGroup: CrisisRespRG
          imageToBuild: tunisiaaiimages.azurecr.io/ai-worker-critical:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_



